WcfServiceClient/Service References/ServiceReference1/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8090/WcfServiceLibrary1/Service1?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="sum">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="num1" type="xs:int" />
        <xs:element minOccurs="0" name="num2" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="sumResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sumResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTraceDateDirection">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FromTown" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FromTime" type="xs:dateTime" />
        <xs:element minOccurs="0" name="ToTown" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ToTime" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTraceDateDirectionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetTraceDateDirectionResult" nillable="true" type="q1:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTraceDateInDirection">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FromTown" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FromTime" type="xs:dateTime" />
        <xs:element minOccurs="0" name="ToTown" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ToTime" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTraceDateInDirectionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetTraceDateInDirectionResult" nillable="true" type="q2:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTraceInDirection">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FromTown" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ToTown" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTraceInDirectionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetTraceInDirectionResult" nillable="true" type="q3:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTraceDirection">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FromTown" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ToTown" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTraceDirectionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetTraceDirectionResult" nillable="true" type="q4:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>